@import 'custom'; // variables for bootstrap
@import 'bootstrap';
@import 'font-awesome';

body {
  padding-top: 55px;
}

.navbar {
  min-height: 55px;
}

.definitions {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $white;
}

.container-fluid-image {
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 30px;
}

.simon {
  div {
    margin-bottom: 10px;
  }
}
