@import 'custom'; // variables for bootstrap
@import 'bootstrap';
@import 'font-awesome';

body {
  padding-top: 55px;
}

.navbar {
  min-height: 55px;
}

.definitions {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $white;
}

.container-fluid-image {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  margin-bottom: 30px;
  min-height: 400px;
  background-image: linear-gradient(lighten(#cf8104, 20%), #cf8104);
  h1 {
    font-size: 4em;
  }
}

.container-fluid-accuracy {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  margin-bottom: 30px;
  min-height: 400px;
  background-image: linear-gradient(lighten($purple, 20%), $purple);
  h1 {
    font-size: 4em;
    color: $white;
    font-weight: 800;
    background-color: $gray-dark;
    padding: 20px;
  }
}

.container-fluid-efficiency {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  margin-bottom: 30px;
  min-height: 400px;
  background-image: linear-gradient(lighten($red, 20%), $red);
  h1 {
    font-size: 4em;
    color: $white;
    font-weight: 800;
    background-color: $gray-dark;
    padding: 20px;
  }
}

.container-fluid-precision {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  margin-bottom: 30px;
  min-height: 400px;
  background-image: linear-gradient(lighten($brand-primary, 20%), $brand-primary);
  h1 {
    font-size: 4em;
    color: $white;
    font-weight: 800;
    background-color: $gray-dark;
    padding: 20px;
  }
}

.container-fluid-utilization {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  margin-bottom: 30px;
  min-height: 400px;
  background-image: linear-gradient(lighten($green, 20%), $green);
  h1 {
    font-size: 4em;
    color: $white;
    font-weight: 800;
    background-color: $gray-dark;
    padding: 20px;
  }
}

.simon {
  div {
    margin-bottom: 10px;
  }
}

.logo-main {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid lighten(#ffa615, 10%);
  border-radius: 10px;
}

.horizontal-rule {
  h6 {
    margin-bottom: 20px;
  }
}

.btn-gradient-primary {
  @include button-variant-gradient(#fff, $brand-primary, $brand-primary);
}

.btn-gradient-warning {
  @include button-variant-gradient(#fff, $brand-warning, $brand-warning);
}

.btn-gradient-danger {
  @include button-variant-gradient(#fff, $brand-danger, $brand-danger);
}

.btn-gradient-success {
  @include button-variant-gradient(#fff, $brand-success, $brand-success);
}

.btn-gradient-info {
  @include button-variant-gradient(#fff, $brand-info, $brand-info);
}
