@import 'custom'; // variables for bootstrap
@import 'bootstrap';
@import 'font-awesome';

body {
  padding-top: 55px;
}

.navbar {
  min-height: 55px;
}

.definitions {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: $white;
}

.container-fluid-image {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 50px;
  margin-bottom: 30px;
  min-height: 400px;
  background-image: linear-gradient(lighten($orange, 20%), $orange);
  h1 {
    font-size: 4em;
  }
}

.simon {
  div {
    margin-bottom: 10px;
  }
}

.logo-main {
  margin-top: 10px;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid lighten(#ffa615, 10%);
  border-radius: 10px;
}
